<a href="https://colab.research.google.com/github/AndrewWairegi/IBMDataScience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:


*   List the popular languages for data science
*   List the common data science libraries
*   List the common data science tools

*   Attempt arithmetics in python
*   To convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:



1.  Matplotlib
2.  Plotly
3. Scikit Learn

<table>
<tr>
<th> Data Science Tools </th>
</tr>

<tr>
<td>Jupyter</td>
</tr>
<tr>
<td>Rstudio</td>
<tr>
<td>
Jupyter Lab
</td>
</table>

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
int(200/60)

3

Author
<h2>Andrew Wairegi</h2>